@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/sprite";
//@include sprites($spritesheet-sprites);
// @import "utils/fonts";
// @import "utils/null";
// @import "utils/iconfont";

html {
  font-family: $mainFont;
  font-size: $base-font-size;
  color: $colorDark;
}

a {
  color: $colorDark;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.container {
  margin: 0 auto;
  max-width: $content;
  padding: 0 15px;
  width: 100%;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  img {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
  }
}

body {
  &.pc {
    .social {
      &__item {
        @extend %link-hover;
      }
    }
    .blog-items {
      &__title {
        @extend %link-hover;
      }
    }
  }
}
%link-hover {
  transition: color 0.3s ease 0s;
  &:hover {
    color: $colorPrimary;
  }
}
.title {
  @include r-font(44, 32);
  line-height: 60 / 44 * 100%;
  font-weight: 700;
}
%separator {
  margin: 0 10px;
  @include r-font(20, 16);
  line-height: 1.4;
}
%card-date {
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  @include r-font(18, 16);
  color: #fff;
  padding: 1px 0 0;
  height: 25px;
  width: 62px;
}
%category {
  color: $colorLight;
  @include r-font(20, 16);
  line-height: 1.4;
}
%date {
  @include r-font(20, 16);
  line-height: 1.4;
}
%card-title {
  @include r-font(30, 24);
  line-height: 44 / 30 * 100%;
  font-weight: bold;
}
.lazy {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff url("../images/preloader.gif") center / 30px 30px no-repeat;
  }
}
.text {
  line-height: 23 / 16 * 100%;
}
.social {
  margin: 0 auto;
  max-width: 232px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__item {
    font-size: 30px;
  }
}
.works-section {
  &__title {
    @include adaptive-value("margin-bottom", 30, 15);
  }
}

//Модули
@import "modules/modules";
