+b.HEADER.header 
    +e.content
        +b.menu.__menu 
            +e.BUTTON.burger 
                span
                span
                span
            +e.NAV.body 
                +e.UL.list 
                    +e.LI.item 
                        +e.A(href='#').link.active Works
                    +e.LI.item 
                        +e.A(href='#').link Blog
                    +e.LI.item 
                        +e.A(href='#').link Contact