+b.HEADER.header 
    +e.content
        +b.menu.__menu 
            +e.BUTTON.burger 
                span
                span
                span
            +e.NAV.body 
                +e.UL.list 
                    +e.LI.item
                        if link == 0
                            +e.A(href='/').link.active Home
                        else
                            +e.A(href='/').link Home
                    +e.LI.item 
                        if link == 1
                            +e.A(href='works.html').link.active Works
                        else
                            +e.A(href='works.html').link Works
                    +e.LI.item
                        if link == 2
                            +e.A(href='blog.html').link.active Blog
                        else
                            +e.A(href='blog.html').link Blog
                    +e.LI.item
                        if link == 3
                            +e.A(href='contact.html').link.active Contact
                        else
                            +e.A(href='contact.html').link Contact