include ../../../node_modules/bemto.pug/bemto.pug
include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible' content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		link(rel="shortcut icon" type="image/x-icon" href="static/images/favicon.ico")
		style.
			.page-preloader{position:fixed;top:0;left:0;width:100%;height:100%;background-color:#fff;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;z-index:2}.page-preloader__spinner{height:30px;width:30px;background:#fff url("./static/images/preloader.gif") center/cover no-repeat}
		link(rel="stylesheet" type='text/css' href="static/css/styles.css")
	body
		// preloader
		+b.page-preloader
			+e.SPAN.spinner
		.wrapper
			include ../modules/header/header
			main
				block content
			include ../modules/footer/footer
		//- script(src="static/js/libs.js")
		script(src="https://polyfill.io/v3/polyfill.min.js")
		script(src="static/js/main.js")
		block script
