include ../../../node_modules/bemto.pug/bemto.pug
include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible' content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		meta(name="description" content="Hello world!")
		link(rel="shortcut icon" type="image/x-icon" href="static/images/favicon.ico")
		style
			include ../../static/styles/utils/start.css
		script.
			window.onload = function () {
				const preloader = document.querySelector(".page-preloader");
				setTimeout(function () {
					preloader.style.display = "none";
				}, 600);
			}
	body
		// preloader
		+b.page-preloader
			+e.SPAN.spinner
		.wrapper
			include ../modules/header/header
			main
				block content
			include ../modules/footer/footer
		block styles
			link(rel="stylesheet" type='text/css' href="static/css/styles.css")
		block script
			//- script(src="static/js/libs.js")
			script(src="static/js/main.js")
