extends layout/main

block variables
    -var title = 'Contact'
    -var link = 3

block content
    +b.SECTION.contact 
        +e.container.container
            +e.H1.title Designing Dashboards with usability in mind
            +b.contact-info.__info 
                +e.SPAN.date 2020
                +e.SPAN.category Dashboard, User Experience Design
            +e.text.text Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            +e.image._first.lazy.ibg 
                img(src="./static/images/1x1.png" data-src="./static/images/content/contact/01.jpg" alt="")
            +e.H2 Heading 1
            +e.H3 Heading 2
            +e.text.text Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            +e.image._first.lazy.ibg 
                img(src="./static/images/1x1.png" data-src="./static/images/content/contact/02.jpg" alt="")
            +e.image._first.lazy.ibg 
                img(src="./static/images/1x1.png" data-src="./static/images/content/contact/03.jpg" alt="")
