[class^="icon-"]::before,
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twit:before {
  content: "\e900";
}
.icon-insta:before {
  content: "\e901";
}
.icon-ld:before {
  content: "\e902";
}
.icon-fb:before {
  content: "\e903";
}
