// Colors

$white: #fff;
$black: #000;
$colorPrimary: #ff6464;
$colorSecondary: #00a8cc;
$colorDark: #21243d;
$colorLight: #8695a4;
$colorAquaSpring: #edf7fa;

// Sizes

$base-font-size: 16px;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400;

$content: 856px;

// Adaptive value

$maxWidth: 1152;
$maxWidthContainer: 856;

// Fonts

$mainFont: "Heebo";
