+b.FOOTER.footer 
    +e.content.container 
        +b.social.__social 
            +e.A(href='#').item.icon-fb
            +e.A(href='#').item.icon-insta
            +e.A(href='#').item.icon-twit
            +e.A(href='#').item.icon-ld
        +e.copy Copyright &copy;2020 All rights reserved