+b.FOOTER.footer 
    +e.content.container 
        +b.social.__social 
            +e.A(href='#' aria-label="facebook link").item.icon-fb
            +e.A(href='#' aria-label="instagram link").item.icon-insta
            +e.A(href='#' aria-label="twitter link").item.icon-twit
            +e.A(href='#' aria-label="linkedin link").item.icon-ld
        +e.copy Copyright &copy;2020 All rights reserved