+b.SECTION.featured-works 
  +e.container.container
    +e.H2.title.title-posts Featured works
    +b.works.__items
      +e.item
        +e.A(href='#' aria-label="article image").image.lazy.ibg
          img(src="./static/images/1x1.png" data-src="./static/images/content/works/features/01.jpg" alt="work #1")
        +e.body
          +e.A(href='#').title Designing Dashboards
          +e.info
            +e.year 2020
            +e.category Dashboard
          +e.text.text Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
      +e.item
        +e.A(href='#' aria-label="article image").image.lazy.ibg
          img(src="./static/images/1x1.png" data-src="./static/images/content/works/features/02.jpg" alt="work #1")
        +e.body
          +e.A(href='#').title Vibrant Portraits of 2020
          +e.info
            +e.year 2018
            +e.category Illustration
          +e.text.text Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
      +e.item
        +e.A(href='#' aria-label="article image").image.lazy.ibg
          img(src="./static/images/1x1.png" data-src="./static/images/content/works/features/03.jpg" alt="work #1")
        +e.body
          +e.A(href='#').title 36 Days of Malayalam type
          +e.info
            +e.year 2018
            +e.category Typography
          +e.text.text Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.