+b.SECTION.hello
    +e.container
        +e.content
            +e.H1.title.title Hi, I am John,<br>Creative Technologist
            +b.text.__text Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            +e.A(href='#').btn.btn Download Resume
        +e.avatar
            img(src="./static/images/content/works/avatar.jpg" alt="")
