+b.SECTION.recent-posts
    +e.container 
        +e.header
            +e.H2.title.title-posts Recent posts 
            +e.A(href='#').view-all View all
        +e.items 
            +e.column
                +b.recent-post.__item
                    +e.A(href='#').title Making a design system from scratch
                    +e.info 12 Feb 2020
                        span |
                        | Design, Pattern
                    +e.text.text Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            +e.column
                +b.recent-post.__item
                    +e.A(href='#').title Creating pixel perfect icons in Figma
                    +e.info 12 Feb 2020
                        span |
                        | Figma, Icon Design
                    +e.text.text Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.